<%- include('header'); %>
<%- include('navbar'); %>

<div class="container px-md-5">
    <div class="container px-md-5">
        <form action="/view/<%= data.id %>" method="post">
            <div class="form-group">
                <label for="firstname">Firstname</label>
                <input class="form-control" type="text" name="firstname" id="firstname" value="<%= data.firstname %>" required>
            </div>
    
            <div class="form-group">
                <label for="lastname">Lastname</label>
                <input class="form-control" type="text" name="lastname" id="lastname" value="<%= data.lastname %>" required>
            </div>
    
            <div class="form-group">
                <label for="address">Address</label>
                <input class="form-control" type="text" name="address" id="address" value="<%= data.address %>" required>
            </div>
    
            <div class="form-group">
                <label for="number">Phone Number</label>
                <input class="form-control" type="text" name="number" id="number" value="<%= data.number %>" required>
            </div>
    
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="text" name="email" id="email" value="<%= data.email %>" required>
            </div>
    
            <div class="form-group">
                <label for="birthdate">Birth Date</label>
                <input class="form-control" type="date" name="birthdate" id="birthdate" value="<%= data.birthdate %>" required>
            </div>
    
            <div class="form-group">
                <label for="birthplace">Birth Place</label>
                <input class="form-control" type="text" name="birthplace" id="birthplace" value="<%= data.birthplace %>" required>
            </div>
    
    
            <div class="form-group pt-3">
                <button class="btn btn-success form-control" type="submit">Update Information</button>
            </div>
        </form>
    </div>
</div>

<%- include('footer'); %>